{{- $hero := .Site.Params.hero }}
{{- $tiles    := index $hero "tiles" }}
<section class="hero is-small is-default is-bold">
  <!-- {{ partial "navbar.html" . }} -->
  <!-- {{ partial "navbar-clone.html" . }} -->
  {{ partial "hero-body.html" . }}
  {{ partial "hero-footer.html" . }}
</section>
<section class="section section-feature-grey is-small" id="section1">
    <div class="content-wrapper">
      <div class="columns">
        {{- range $tiles }}
        <div class="column is-one-third">
          <div class="feature-card is-bordered has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft">
            <div class="card-title">
              <h4>{{ .title }}</h4>
            </div>
            <div class="card-icon">
                <img src="{{ printf "images/illustrations/icons/%s.svg" .icon | relURL }}">
            </div>
            <div class="card-text">
                <p>{{ .text }}</p>
            </div>
            <div class="card-action">
              <a href="{{ .url }}" class="button btn-align-md accent-btn raised">{{ .buttonText }}</a>
            </div>
          </div>
        </div>
        {{- end }}
      </div>
    </div>
</section>
